:root {
    --main-color: rgb(53, 53, 53);
    --second-color: rgb(30,30,30);
    --text-color: rgb(238, 244, 244);
    --color-font: rgb(239,68,22);
  }
  .colorPrimary{
    background-color: var(--main-color);
  }
  
  .colorSecondary{
    background-color: var(--second-color);
  }
  
  .textColor{
    color: var(--text-color) !important;
  }
  
  .colorFont{
    color: var(--color-font);
  }
  
  .brandFont{
    font-family: 'Praise', cursive;
  }
  
  .generalText{
    font-family: 'Titillium Web', sans-serif;
  }

/* START CREATE FORM AND PAGE */
.containerCreate{
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerCreateForm{
    width: 40%;
    
    border-radius: 24px;
    background: #e0e0e0;
    box-shadow:  -15px 15px 50px #bababa,
             15px -15px 50px #ffffff;
}
.brandContainer{
    display: flex;
    justify-content: center;
}
@media (max-width: 991px){
    .containerCreate{
        width: 100%;
        height: 100vh;
        background-color: rgb(230, 230, 230);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .containerCreateForm{
        width: 80%;
        /* From https://css.glass */
    background: rgba(124, 132, 148, 0.2);
    border-radius: 16px;
    box-shadow: 15px 15px 2px rgba(0, 0, 0, 0.414);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--second-color);
    }
    .brandContainer{
        display: flex;
        justify-content: center;
    }  
}
/* END CREATE FORM AND PAGE */

/* START EDIT FORM */

.containerEdit{
    width: 100%;
    height: 100vh;
    background-image: url(/public/media/bgEdit.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.containerFotoForm{
    width: 80%;
    display: flex;
    align-items: center;
}
.editFoto{
    width: 40%;
    height: fit-content;
    text-align: center;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.imgEdit{
    width: 100%;
}
.editForm{
    width: 60%;
    /* height: 500px; */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 991px){  
.containerEdit{
    height:fit-content;
}
.containerFotoForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
/* END EDIT FORM */